@font-face {
  font-family: "Angelica";
  src: url("fonts/Angelica.otf");
}

@font-face {
  font-family: "trajan pro 3";
  src: url("fonts/TrajanPro3-Bold.otf");
}

@font-face {
  font-family: "TITUS";
  src: url("fonts/TITUSCBZ.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'TITUS';
}

a {
  text-decoration: none !important;
}

header {
  margin-top: 0;
  color: #f08db8;
  background-color: #212529;
  height: 150px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-shadow: 0px 11px 11px -5px #212529;
          box-shadow: 0px 11px 11px -5px #212529;
}

header .dropdown {
  display: none;
}

header .logo2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

header .logo2 .main-logo {
  width: 280px;
  height: 180px;
  margin-left: 80px;
}

header .navbar1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

header .navbar1 .navigation-side {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

header .navbar1 .navigation-side .nav-item {
  text-decoration: none;
  font-family: "TITUS";
  color: #f08db8;
  font-size: 1.5rem;
  margin-right: 50px;
}

header .nav-item:hover {
  color: #55c0e5 !important;
  border-radius: 15%;
  -webkit-transition: 200ms;
  transition: 200ms;
  text-shadow: #ea68b2 1px 1px !important;
}

header .car-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

header .car-info .nav-item {
  text-decoration: none;
  font-family: "TITUS";
}

header .car-info .totals {
  margin-top: 95px;
  margin-left: 15px;
  color: #212529;
  font-size: 0.8rem;
  font-weight: bolder;
  background-color: #fad9e8;
  width: 15px;
  height: 15px;
  border-radius: 1000px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
}

header .car-info .basket-logo {
  margin-top: 100px;
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.main-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 700px;
  text-align: center;
  margin-top: 50px;
}

.main-info .ladys-side {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  margin-left: 50px;
}

.main-info .gentlemen-side {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  margin-left: 50px;
}

.main-info .children-side {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  margin-left: 50px;
}

.main-info .children-side:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.main-info .ladys-side:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.main-info .gentlemen-side:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.about-info {
  display: -ms-grid;
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about-info .about-us {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.about-info .about-us .img-about-us {
  height: 350px;
  width: 350px;
  margin-left: 310px;
}

.about-info .about-us .h3-about-us {
  text-align: center;
  color: #212529;
  font-family: "TITUS";
  font-weight: bolder;
}

.about-info .about-us .p-about-us {
  text-align: center;
  color: #212529 !important;
  color: #f08db8;
  font-family: "TITUS";
  font-size: 1.5rem;
}

.about-info aside {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.about-info aside .banner-about-us {
  width: 400px;
  height: 700px;
  -webkit-box-shadow: 2px 2px 10px #666;
          box-shadow: 2px 2px 10px #666;
}

.social-media-icons {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.contact-us {
  width: 1000px;
  height: 600px;
  margin-bottom: 100px;
  margin-left: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  background-image: url(img/para-background.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 2px 2px 10px #666;
          box-shadow: 2px 2px 10px #666;
  font-family: 'TITUS';
  color: white;
  font-weight: bold;
}

.contact-us .campos {
  width: 500px;
}

.contact-us .btn-info {
  margin-left: 430px;
}

.contact-us h4 {
  margin-left: 90px;
  font-size: 40px;
}

.dark-footer {
  background-color: #212529;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.dark-footer .footer-section {
  text-align: center;
}

.dark-footer .footer-section .footer-tittle-section {
  margin-top: 30px;
  color: #f08db8;
  font-family: "TITUS";
}

.dark-footer .footer-section .footer-product-info {
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #f08db8;
  font-family: "TITUS";
}

.dark-footer .section1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.dark-footer .section2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.dark-footer .section3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.store {
  margin-top: 100px;
}

.img_sides {
  width: 400px;
  height: 650px;
}

.img-thumbnail2 {
  width: 50px;
  height: 50px;
}

.shopping-cart {
  height: 1000px;
  margin-top: 100px;
}

.shopping-cart .shopping-cart-main-tittle {
  color: #f08db8;
  font-family: "TITUS";
  color: #212529;
  text-shadow: 0px 0px 5px #55c0e5;
}

.shopping-cart .shopping-cart-header {
  font-family: 'TITUS';
  font-weight: bolder;
}

.shopping-cart h6, .shopping-cart p, .shopping-cart input {
  font-size: 1.2rem !important;
  font-family: 'TITUS';
}

.shopping-cart-item-title {
  text-align: center;
  width: 200px;
}

.shopping-cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

.show-totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h3-category {
  color: #f08db8;
  font-family: "TITUS";
  background-color: #55c0e5;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card-body {
  background-color: #212529;
  -webkit-box-shadow: 2px 2px 10px #666;
          box-shadow: 2px 2px 10px #666;
}

.card-body .card-title {
  color: #ea68b2;
  font-family: "TITUS";
  font-weight: bold;
}

.card-img-top {
  -webkit-box-shadow: 2px 2px 10px #666;
          box-shadow: 2px 2px 10px #666;
}

.for-fonts {
  font-family: 'TITUS';
  font-size: 1.2rem;
}

h3 {
  font-size: 1.8rem !important;
}

.main-product-tittle {
  text-align: center;
  margin-top: 50px;
  text-shadow: #ea68b2 1px 1px;
  font-weight: bolder;
}

.menu-responsive {
  background-color: #212529 !important;
}

@media (max-width: 480px) {
  body {
    height: 5500px;
  }
  .navbar1 {
    display: none;
  }
  .car-info {
    display: none !important;
  }
  .dropdown {
    display: block !important;
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 60px;
    margin-right: 10px;
  }
  .main-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    width: 200px !important;
    height: 150px !important;
    margin-left: 10px !important;
  }
  .dropdown-menu {
    background-color: #212529 !important;
  }
  .dropdown-menu .nav-item {
    color: #fad9e8 !important;
    font-family: 'TITUS';
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  .dropdown-menu .basket-logo2 {
    margin-top: 10px;
    height: 30px;
    width: 30px;
    margin-left: 60px;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    width: 480px;
    height: auto;
  }
  main .main-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    height: 2500px;
  }
  main .main-info .ladys-side {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-bottom: 50px;
    margin-left: 60px;
  }
  main .main-info .gentlemen-side {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-bottom: 50px;
    margin-left: 60px;
  }
  main .main-info .children-side {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-bottom: 50px;
    margin-left: 60px;
  }
  main .about-info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  main .about-info .about-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  main .about-info .about-us .img-about-us {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-left: -580px;
    margin-top: -100px;
    margin-bottom: -300px;
  }
  main .about-info .about-us .h3-about-us {
    margin-top: -450px;
    margin-left: -630px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    width: 480px;
  }
  main .about-info .about-us .p-about-us {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 550px;
    width: 450px;
    margin-left: -620px;
    margin-top: -1150px;
  }
  main .about-info .contact-us {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    width: 450px;
    margin-left: -280px;
    margin-top: 0px;
    margin-bottom: 50%;
  }
  main .about-info .contact-us .last {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100px;
  }
  main aside {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */