@font-face {
  font-family: "Angelica";
  src: url("/fonts/Angelica.otf");
}

@font-face {
  font-family: "trajan pro 3";
  src: url("/fonts/TrajanPro3-Bold.otf");
}

@font-face {
  font-family: "TITUS";
  src: url("/fonts/TITUSCBZ.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

header {
  margin-top: 0;
  color: #f08db8;
  background-color: #212529;
  height: 150px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-shadow: 0px 11px 11px -5px #212529;
          box-shadow: 0px 11px 11px -5px #212529;
}

header .logo2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

header .logo2 .main-logo {
  width: 280px;
  height: 180px;
  margin-left: 80px;
}

header .navbar1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

header .navbar1 .navigation-side {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

header .navbar1 .navigation-side .nav-item {
  text-decoration: none;
  font-family: "TITUS";
  color: #f08db8;
  font-size: 1.5rem;
  margin-right: 50px;
}

header .car-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

header .car-info .nav-item {
  text-decoration: none;
  font-family: "TITUS";
}

header .car-info .totals {
  margin-top: 100px;
  margin-right: 30px;
  color: #f08db8;
  font-size: 1.5rem;
}

header .car-info .basket-logo {
  margin-top: 100px;
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.main-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 1500px;
  text-align: center;
}

.main-info .products-transition {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 500px;
}

.main-info .products-transition .imgCarousel {
  display: none;
  padding: 10px;
}

.main-info .products-transition #imgLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 500px;
}

.main-info .ladys-side {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  height: 500px;
  margin: 10px 50px 0 10px;
  overflow: hidden;
}

.main-info .gentlemen-side {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  height: 500px;
  margin: 10px 50px 0 10px;
  overflow: hidden;
}

.main-info .children-side {
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10/14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  height: 500px;
  margin: 10px 50px 0 10px;
  overflow: hidden;
}

.main-info .children-side:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.main-info .ladys-side:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.main-info .gentlemen-side:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.main-info .about-us {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
}

.main-info .about-us .img-about-us {
  margin-top: 80px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  width: 350px;
  height: 350px;
}

.main-info .about-us .p-about-us {
  margin-top: 120px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 6;
  grid-column: 8/14;
  height: 250px;
  width: 100%;
}

.social-media-icons {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.banner {
  background-image: url(/img/banner3.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  width: 80%;
  height: 350px;
  margin-top: 50px;
}

.dark-footer {
  background-color: #212529;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.dark-footer .footer-section {
  text-align: center;
}

.dark-footer .footer-section .footer-tittle-section {
  margin-top: 30px;
  color: #f08db8;
  font-family: "TITUS";
}

.dark-footer .footer-section .footer-product-info {
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #f08db8;
  font-family: "TITUS";
}

.dark-footer .section1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.dark-footer .section2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.dark-footer .section3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.store {
  margin-top: 100px;
}

.h3-category {
  color: #f08db8;
  font-family: "TITUS";
  margin-top: 0px;
  background-color: #55c0e5;
}

.w-100 {
  height: 450.15px;
}

.img_sides {
  width: 400px;
  height: 650px;
}
/*# sourceMappingURL=styles.css.map */