#transition{
  margin-top:50px;
  display:flex;
  justify-content: center;
  width: 100%;
  height: 500px
}

.imgCarousel{
  display: none;
  /* -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);  */
  /* box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
}

#imgLogo{
  display: flex;
  width: auto;
  height: 500px
}